body {
    background-size: auto 100%;
}

audio, canvas, progress, video {
    position: absolute;
    left: 0;
}

#icon1, #icon2, #icon3, #icon4, #icon5, #icon6 {
    visibility: hidden;
    margin: 0 22px;
}

/* d3 */
.bar {
    fill: steelblue;
    fill-opacity: .9;
}

#video-container {
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

.left-part {
    position: relative;
    width: 50%;
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
}

#overlay, #webgl {
    position: absolute;
    top: 0px;
    left: 0px;
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    -ms-filter: fliph; /*IE*/
    filter: fliph; /*IE*/

    width: 405px;
    height: 303px;
}

.right-part {
    position: relative;
    width: 50%;
    vertical-align: top;
    display: inline-block;
    box-sizing: border-box;
}

.masks {
    display: none;
}

.login_page{
  width: 600px;
  margin: 0 auto;
  position: relative;
  margin-top: 30px;
  background-color: white;
  z-index: 999;
  padding:0 10px;
}

.login_page h1{
  font-family: Consolas, monaco, monospace;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
  text-align: center;
  padding: 20px 0;
}
#chatting_messages {
    width: 400px;
    height: 300px;
    background-color: #f9f9f9;
    margin: 0 auto;
    list-style: none;
    text-align: left;
    padding: 20px;
    overflow: auto;
}

#chatting_input {
    width: 338px;
    margin-top: 10px;
    display: inline-block;
}

#chatting_submit {
    position: relative;
    top: -1px;
}
